/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

body {
  box-sizing: border-box;
  padding-top: 136px;
  border-top: 1px solid #4F8EF7;
  background: url("img/ionicons-logo.png") no-repeat center 45px;
  color:#373737;
  text-align: center;
  font-size: 16px;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
         only screen and (   min--moz-device-pixel-ratio: 1.3),
         only screen and (        min-device-pixel-ratio: 1.3),
         only screen and (             min-resolution: 124dpi)
{
  body {
    background-image: url("img/ionicons-logo@2x.png");
    background-size: 110px 67px;
  }
}

h1 {
  font-size: 45px;
  line-height: 55px;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  color: #fff;
}

h2 {
  color: #fff;
  font-weight: normal;
  font-size: 26px;
  text-shadow: 0px 1px 3px rgba(0,0,0,0.25);
}

h3 {
  color: #000;
  font-size: 22px;
}

strong {
  font-weight: bold;
}

p {
  margin: 25px 0;
  padding: 0 10px;
}

a {
  color: #4F8EF7;
  text-decoration: none;
  opacity: .9;
  transition-timing-function: ease-in-out;
  transition-duration: .1s;
  transition-property: color;
  transition-property: opacity;
}
a:hover, a:active, a:focus {
  text-decoration: underline;
  opacity: 1;
}

.discover {
  margin-top: 60px;
  margin-bottom: 10px;
}

.discover, .search {
  margin-right: auto;
  margin-left: auto;
  max-width: 200px;
  width: 100%;
  position: relative;
}

.discover a {
  display: block;
  padding: 12px 0;
  /* border: 2px solid #2196F3; */
  border-radius: 2px;
  background-color: #FFFFFF;
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 22px;
  z-index: 9999;
  color: #473d68;
  color: rgb(64, 171, 90);
}
.discover a:hover {
  background: rgb(64, 171, 90);
  color: white;
  box-shadow: 0px 0px 10px 0px;
}
.version {
  margin: 2px auto;
  color: #ccc;
  font-size: 12px;
  font-family: "AvenirNextLTPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  font-weight: normal;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}
::-webkit-input-placeholder {
   padding-left: 26px;
   color: #999;
}
:-moz-placeholder {
   color: #999;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #999;
}
:-ms-input-placeholder {
   color: #999;
}

.search {
  position: relative;
  background: #F5F5F5;
}
.search input {
  padding: 4px 6px;
  width: 175px;
  border: 0;
  border-radius: 4px;
  background: #F5F5F5;
  text-align: center;
  font-size: 14px;
}
.search input.has-text + i {
  display: none;
}
.search i {
  position: absolute;
  top: 1px;
  left: 68px;
  color: #999;
}

ul {
  margin: 40px auto;
  padding-left: 5px;
  max-width: 700px;
  width: 100%;
  list-style: none;
  text-align: left;
  font-size: 1px;
}
li {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 22px;
  width: 42px;
  border-radius: 4px;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  cursor: pointer;
}
li:hover {
  color: #4F8EF7;
}
li.active {
  color: #4F8EF7;
}

#icon-panel {
  position: absolute;
  top: -9999px;
  left: -9999px;
  padding: 20px 2px;
  width: 260px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  text-align: center;
  font-size: 14px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  opacity: .96;
}

#icon-name {
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  text-align: center;
  width: 100%;
  border: 0;
}

#icon-code {
  padding-top: 10px;
  font-size: 12px;
}

#icons {
  transition: opacity .2s ease-in-out;
}
.search-init {
  opacity: 0.15;
}
.search-results li {
  display: none;
}

.footer {
  margin: 30px auto;
  padding: 20px 0;
  max-width: 700px;
  width: 100%;
  border-top: 1px solid #4e8ef7;
  color: #666;
  font-size: 12px;
}
.links a {
  display: inline-block;
  padding: 5px 10px;
}

@media (max-width: 568px) {
  h1 {
    font-size: 14px;
  }
  h2 {
    font-size: 12px;
  }
  .download {
    display: none;
  }
  ul {
    padding: 0;
    width: 320px;
  }
  li {
    margin: 0;
    padding: 10px 0;
    width:45px;
  }
  li:hover {
    color: black;
  }
  #icon-panel {
    display: none;
  }
}

.cdn {
  padding-top: 40px;
}

.cdn p {
  margin: 6px 0;
}

.cdn input {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 480px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  color: #333;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  line-height: 1.33;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.cdn input:focus {
  outline: 0;
  border-color: #4F8EF7;
}

/* @license
 * MyFonts Webfont Build ID 2656303, 2013-10-02T11:03:28-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Avenir Next Pro Regular by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-regular/
 *
 * Webfont: Avenir Next Pro Medium by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-medium/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2656303
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 2004 - 2007 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Avenir is a trademark of Linotype GmbH
 *
 * Â© 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work
@import url("//hello.myfonts.net/count/28882f");*/


@font-face {font-family: 'AvenirNextLTPro-Regular';src: url('site-fonts/28882F_0_0.eot');src: url('fsite-onts/28882F_0_0.eot?#iefix') format('embedded-opentype'),url('site-fonts/28882F_0_0.woff') format('woff'),url('site-fonts/28882F_0_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirNextLTPro-Medium';src: url('site-fonts/28882F_1_0.eot');src: url('site-fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'),url('site-fonts/28882F_1_0.woff') format('woff'),url('site-fonts/28882F_1_0.ttf') format('truetype');}



.hero{
	    position: absolute;
    top: 0;
    padding-top: 10em;
    background-image: url(),linear-gradient(#4CAF50, #009688);
    /*background: linear-gradient(to bottom, #473d68 0%, #c54066 71%);*/
    width: 100%;
    padding-bottom: 10em;

}
.particles-js-canvas-el{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;	
}
.container{
	padding-top: 25em;
	text-align: left;
	width: 75%;
	margin: 0 auto;
}

.row {
    display: inline-block;
    text-align: center;
    color: #656565;
    margin-top: 5em;
}

.row-transparent {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background: rgba(103,62,104,0.1);
    background: rgba(0, 150, 136, 0.1);
}

.row-transparent .container {
    padding-top: 0;
}

.row .item {
    display: inline-block;
    width: 32%;
    text-align: center;
    float: left;
    margin-right: 2%;
}

@media ( max-width: 768px ) {
  .row .item {
    width: 100%;
    margin-right: 0;
  }
}

.row .item:last-child {
  margin-right: 0;
}

.item i {
    font-size: 5em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    color: #473d68;
    color: rgb(0, 150, 136);
}

/*.caption {
  display: inline-flex;
}*/

.caption h3,
.item h3 {
    text-align: center;
    font-size: 22px;
    color: #000;
    font-weight: 700;
}

.item a {
  display: none;
  font-size: 18px;
  text-decoration: none;
  color: #3F51B5;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.separator{
	color: red;
	height: .05em;
	width: 100%;
	background: #F3F2F2;
	/* width: 75%; */
	margin: 0 auto;
}
.image-alt img {
    border-radius: 50%;
    width: 100%;
    /* border: 2px solid #222; */
}

.feature {
    margin-top: 1em;
    display: inline-flex;
}

@media ( max-width: 768px ) {
  .feature {
    display: block;
  }
}

i.ion-social-dropbox {
    font-size: 7em;
    color: #473d68;
    color: rgb(0, 150, 136);
} 

.feature p {
    color: #2c2c2c;
}

.content {
  border-right: 1px solid #fff;
}

.content-right {
  padding-left: 20px;
}

.content-right,
.content {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: 40px 0;
}

.item-left i,
.item-right i {
    font-size: 70px;
    float: left;
    width: 15%;
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
}

.item-left i {
  float: right;
}

.item-left h3 {
    text-align: right;
    margin-right: 10px;
}

.item-right h3 {
    text-align: left;
    margin-left: 10px;
}

.text {
    float: right;
    width: 85%;
}

.item-right,
.item-left {
    width: 100%;
    float: left;
    position: relative;
    padding: 15px 0;
}

.item-right {
    text-align: left;
}

.item-left {
    text-align: right;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.image-alt {
    width: 49%;
    display: inline-block;
    position: relative;
    bottom: -4em;
}

.content p {
    text-align: left;
    color: #473d68;
    font-size: 18px;
}
footer{
	position: relative;
	bottom: 0;
	height: 5em;
	padding-top: 1em;
	background: #473d68;
  background: rgb(0, 150, 136);
	margin-top: 8em;
	color: #fff;
}

.container-nav {
  margin: 0 auto;
  width: 75%;
  position: relative;
}

span.logo {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 0;
}

header.nav-header {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(103,62,104,0.6);
    background: rgba(64, 171, 90, 0.6);
}

nav.main-navigation {
    padding: 20px 0;
    position: absolute;
    top: 0;
    right: 0;
}

ul.navigation-links {
    width: 100%;
    display: inline;
}

li.item-nav {
    padding: 0 20px;
    width: auto;
    font-size: 20px;
}

a.navigation-link:hover {
    text-decoration: none;
    color: #c54066;
    color: rgb(0, 150, 136);
    color: #000;
}

a.navigation-link {
    text-transform: capitalize;
    color: #fff;
}

.call-action {
    padding: 10px 0 50px;
    background: rgb(103,62,104);
    background: rgb(0, 150, 136);
}

.call-action i {
    color: #fff;
    font-size: 100px;
}

.call-action h3 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 30px;
}

.call-action a {
    padding: 15px 60px;
    border-radius: 10px;
    background: #fff;
    font-size: 20px;
    text-decoration: none;
    color: rgb(103,62,104);
    color: rgb(0, 150, 136);
}

@media ( max-width: 768px ) {
  .content,
  .content-right {
    width: 100%;
    border-right: none;
    padding-left: 0;
  }
}

@media ( max-width: 548px ) {
  .item-left i,
  .item-right i,
  .text {
    width: 100%;
    text-align: center;
  }
  
  .item-left h3,
  .item-right h3,
  .call-action h3 {
    text-align: center;
    font-size: 20px;
  }

  .call-action a {
    padding: 10px 60px;
    font-size: 16px;
  }

  li.item-nav {
    padding: 0 8px;
    font-size: 16px;
    right: -30px;
  }

  .logo {
    font-size: 
  }
}
